<div class="ui-pagination">
  <div>
    <select (change)="onSelectChange($event)" *ngIf="_showSelect">
      <option *ngFor="let item of _pageSizeOpts" [value]="item">{{item}}</option>
    </select>
    <span *ngIf="!_showSelect">
      <span>每页显示</span>
      <ui-input (keyup)="handlePageSizeInput($event)"></ui-input>
      <span>条</span>
      <a class="go" (click)="onPageSize()">确定</a>
    </span>
    <span *ngIf="_showTotal" class="total">共<a>{{_totalRecords}}</a>条记录</span>
  </div>
  <div>
    <a class="page-first" *ngIf="_showFirstLast" (click)="pageChange(1, $event)" [class.disabled]="_current === 1">首页</a>
    <a class="page-prev" (click)="pageChange(_current - 1, $event)" [class.disabled]="_current === 1">&lt;</a>

    <span class="pagination-pages">
      <a *ngFor="let item of pages" [class.active]="item == _current" (click)="pageChange(item, $event)">{{item}}</a>
    </span>

    <a class="page-next" (click)="pageChange(_current + 1, $event)" [class.disabled]="_current === getPageCount()">&gt;</a>
    <a class="page-last" *ngIf="_showFirstLast" (click)="pageChange(getPageCount(), $event)" [class.disabled]="_current === getPageCount()">尾页</a>

    <span class="jump" *ngIf="_showJump">
      <span>跳转到</span>
      <ui-input (keyup)="handleKeyup($event)"></ui-input>
      <span>页</span>
      <a class="go" (click)="handleGo()">跳转</a>
    </span>
  </div>
  
</div>