<div class="ui-pagination">
  <span>每页显示
    <select>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="30">30</option>
    </select>条记录</span>
  <span>共计：XXX条</span>
  
  <a href="#!" class="page-first">首页</a>
  <a href="#!" class="page-prev"><</a>
  <a href="#!" class="page-active">1</a>
  <a href="#!">2</a>
  <a href="#!">3</a>
  <a href="#!">4</a>
  <a href="#!" class="page-next">></a>
  <a href="#!" class="page-last">末页</a>
  <span>跳转到：</span>
  <input type="text">
  <span>页</span>
  <a href="#!">GO</a>
</div>