
.ui-dialog-container {
  position: fixed;
  z-index: $zindex-dialog;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 33, 33, 0.48);

  display: flex;
  visibility: hidden;

  color: $dark;

  justify-content: center;
  align-items: center;

  &.active {
    visibility: visible;
  }
}

.ui-dialog {
  position: relative;

  display: flex;
  // overflow: auto;
  flex-direction: column;

  min-width: rem(300px);
  max-width: 80%;
  max-height: 80%;

  transition: transform .35s ease-in-out, visibility .35s ease-in-out, opacity .35s ease-in-out;
  transform: scale(0.2);

  opacity: 0;
  border-radius: $dialog-radius;

  @include elevation(24);

  // dialog 激活后
  &.active {
    visibility: visible;

    transform: scale(1);

    opacity: 1;
  }

  .dialog-bar {
    display: flex;
    flex-direction: row;

    width: 100%;
    min-height: $dialog-bar-height;
    max-height: $dialog-bar-height;
    margin: 0;
    padding: $dialog-bar-padding;

    color: $dialog-bar-color;
    border-top-left-radius: $dialog-radius;
    border-top-right-radius: $dialog-radius;
    background-color: $dialog-bar-bg;

    font-size: $dialog-bar-font-size;
    font-weight: 300;
    letter-spacing: rem(1px);

    align-items: center;
  }

  // 内容
  .dialog-content {
    // overflow: auto;

    padding: $dialog-content-padding;

    background-color: $white;
    
    // 标题
    .dialog-title {
      margin-bottom: $dialog-margin-bottom;

      font-size: $dialog-title-font-size;
      font-weight: 500;
    }
  }

  // 操作按钮
  .dialog-actions {
    display: flex;
    overflow: hidden;

    min-height: $dialog-action-min-height;
    padding: $dialog-action-padding;
    border-top: 1px solid $gray-lighter;
    background-color: $white;

    align-items: center;
    justify-content: flex-end;

    [ui-button] {
      margin-left: rem(8px);
    }
  }

  &.scroll {
    overflow: auto;
    
    .dialog-content {
      overflow: auto;
    }
  }

  &.alert .dialog-actions {
    border: none;
  }
}

