
.ui-overlay-container {
  position: fixed;
  z-index: $zindex-overlay;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  pointer-events: none;

  .ui-overlay-backdrop {
    background: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    will-change: opacity;
    transition: opacity .4s cubic-bezier(.25, .8, .25, 1);

    &.active {
      opacity: .48;
    }
  }
}

