.ui-pagination {
  display: flex;
  width: 100%;
  margin: $pagination-margin;
  padding: $pagination-padding;
  align-items: center;
  justify-content: space-between;

  font-size: $font-size-md;

  span {display: inline-block;}
  
  a {
    display: inline-block;

    width: $pagination-link-size;

    text-align: center;

    color: inherit;
    border-radius: 4px;

    line-height: $pagination-link-size;

    &.disabled {
      cursor: default;

      color: $gray-light;
    }
  }

  .page-prev, .page-next {
    color: $brand;

    font-family: "Simsun";
    font-weight: bold;
  }

  .page-first, .page-last {
    color: $brand;
  }

  .pagination-pages a {
    margin: 0 2px;

    &:hover {
      background-color:rgba(0, 0, 0, 0.08);
    }

    &.active {
      cursor: default;

      color: #fff;
      background-color: $brand;
    }
  }

  .input-container {
    width: $pagination-link-size;
    height: $pagination-link-size;
    margin: 0 4px;

    text-align: center;
    input {
      font-size: $font-size-sm;
      text-align: center;
    }
  }

  select {
    width: $pagination-select-width;
    margin-right: 1rem;
  }

  .jump {
    margin-left: 2rem;
  }

  .go {
    width: $pagination-go-width;
    margin: 0 .5rem;
    padding: 2px 0;

    color: $brand;

    border: 1px solid $brand;

    font-size: $font-size-sm;
    line-height: inherit;
    transition: all .2s ease-in;

    &:hover, &:active, &:focus {
      background-color: darken($brand, 5);
      color: #fff;
    }
  }
  .total a {cursor: default;}
}