
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;

  font-size: $font-size-root;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;

  overflow-x: hidden;

  height: 100%;
  margin: 0;

  color: $body-color;

  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

figcaption,
figure,
main {
  display: block;
}

ul, li, ol {
  margin: 0;
  padding: 0;

  list-style: none;
}

input, textarea {
  outline: 0;
  background: transparent;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: $brand;
  background-color: transparent;

  -webkit-text-decoration-skip: objects;

  &:hover, &:active, &:focus {
    color: darken($brand, 10%);
    outline: 0;
  }
}

table {
  border-spacing: 0;

  border-collapse: collapse;
}

th {
  text-align: left;
}

code, kbd, pre, samp {
  font-family: $font-family-code;
  font-size: 1em;
}

code, kbd {
  padding: .2rem .4rem;

  color: #5d9cec;
  border-radius: 2px;
  background-color: #f5f2f0;

  font-size: 90%;
}

pre > code {
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  overflow: visible;

  box-sizing: content-box;
  height: 0;
}

img {
  max-width: 100%;

  border-style: none;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;

  border-bottom: none;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;

  vertical-align: baseline;

  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio:not([controls]) {
  display: none;

  height: 0;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;

  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
}

button,
input {
  overflow: visible;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;

  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;

  border: 1px solid #c0c0c0;
}

legend {
  display: table;

  box-sizing: border-box;
  max-width: 100%;
  padding: 0;

  white-space: normal;

  color: inherit;
}

progress {
  display: inline-block;

  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

button,
select {
  text-transform: none;
}

select {
  padding: 4px;

  border: none;
  border-bottom: 1px solid $gray-lighter;
  background: transparent;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABBElEQVRYR+2VwRGDIBBF2RJSQVpaK4h2kFSQlJBUENPBL8kS0sFmcMRBI4Ig4wVvovIfb2EldfBFB+erAlAMFAOjAWZmpdQZwCvn0WTmq1KqAwCdMwJUVdVpABFpATQ5IJi5JaKLiHwBnCYAzFwT0VsP5oAw4cP8DYB2AqBvckG4wv8ABogHEd33MrEWvggwQPS1SoXwhTsB9oAICV8FSIEIDfcCxEDMwm8AnmtHOqgVzyZ19onZex8Ata+fBAGEmIgJDyqBvQKXidjwzQBLJnQ7t45skHZ7UcElcJkw4yKyOTzKgAlM0Z5swILod7n5sfh2/NLzqBLEBLm+KQDFQDFwuIEfZvXZIbybSOoAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 12px;

  font-family: inherit;

  -webkit-appearance: none;
  -moz-appearance: none;

  &::-ms-expand { display: none; }
  
  &:active, &:focus {outline: 0;}
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body.overflow {
  overflow: hidden;
}
