@import '../style/variables';

.ui-progress-circle {
  display: inline-block;
  position: relative;
  pointer-events: none;
  will-change: transform, opacity;

  &.indeterminate {
    .progress-circle {
      animation: spinner-rotate 1.9s linear infinite;
      transform: rotate(0deg) translateZ(0);
    }
    .circle-path {
      stroke-dasharray: 2, 200;
      animation: spinner-dash 1.425s ease-in-out infinite;
    }
  }

  @each $color-name in map-keys($color-map) {
    &.#{$color-name} .circle-path {
      stroke: map-get($color-map, $color-name);
    }
  }
}

.progress-circle {
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: rotate(270deg) translateZ(0);
  transform-origin: center center;
  will-change: transform, opacity;
}

.circle-path {
  fill: none;
  stroke-dashoffset: 0;
  stroke-miterlimit: 10;
  transition: $swift-ease-out;
  stroke: $brand;
}

@keyframes spinner-rotate {
  to {
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes spinner-initial-rotate {
  0% {
    opacity: 0;
    transform: rotate(-90deg) translateZ(0);
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: rotate(270deg) translateZ(0);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 2, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
