<!--<div class="progress-circle" [style.width]="_size + 'px'" [style.height]="_size + 'px'">
  <svg [attr.viewBox]="viewBox">
    <circle
      #circle
      [attr.cx]="_size/2"
      [attr.cy]="_size/2"
      [attr.r]="(_size-_thickness)/2"
      [attr.stroke-width]="_thickness"
      [attr.stroke]="_stroke"
    />
    <path #circle fill="none" [attr.stroke-width]="_thickness"></path>
  </svg>
</div>-->
<div class="progress-circle">
  <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid meet">
    <path></path>
  </svg>
</div>
