<div class="ui-checkbox">
  <label
    [class.active]="_checked" 
    [class.reverse]="align === 'right'"
    [class.disabled]="disabled"
  >
    <input #input type="checkbox"
      [checked]="_checked"
      [disabled]="disabled"
      [name]="name"
      [value]="value"
      [id]="checkboxId"
      (change)="_onChange($event)"
    >
    <div #svg class="svg-wrapper">
      <svg viewBox="0 0 24 24" class="unchecked">
        <path d="M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
      </svg>
      <svg viewBox="0 0 24 24" class="checked">
        <path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
      </svg>
    </div>
    <div class="checkbox-label">
      <ng-content></ng-content>
    </div>
  </label>
  <div
    *ngIf="!rippleDisabled && !disabled"
    ui-ripple
    class="ripple-container"
    [ripple-trigger]="getRippleElement()"
    ripple-dark="true"
    [ripple-round]="true"
  >
  </div>
</div>
