<div class="ui-dialog-container">
  <div
    class="ui-dialog"
    [class.alert]="_config.isAlert"
    [@state]="visibility"
    (@state.done)="animationDone($event)"
  >
    <div *ngIf="_config.isModal" class="dialog-bar">{{_config.toolbarText}}</div>
    <div class="dialog-content">
      <div *ngIf="_config.titleText" class="dialog-title">{{_config.titleText}}</div>
      <ng-container *ngIf="!_config.isModal">
        {{_config.message}}
      </ng-container>
      <div *ngIf="_config.isModal">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="dialog-actions">
      <button *ngIf="!_config.isAlert" ui-button (click)="handleCancel()">{{_config.cancelLabel}}</button>
      <button ui-button color="primary" (click)="handleOk()" [disabled]="_config.disableOkBtn">{{_config.okLabel}}</button>
    </div>
  </div>
</div>