@import '../style/variables';
@import '../overlay/overlay';

.ui-tooltip {
  position: absolute;
  top:0;
  left: 0;

  display: flex;

  min-height: $tooltip-height;
  margin: $tooltip-margin;

  padding: $tooltip-padding;

  max-width: 240px;

  user-select: none;
  pointer-events: none;

  color: $white;
  border-radius: 2px;
  background-color: $tooltip-bg;

  font-size: $font-size-sm;

  align-items: center;
  // @include text-ellipsis;
}